@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

@import './code.css';

html {
  height: 100%;
}

body {
  --content-background-color: white;
  --background-color: #eee;
  --box-shadow: 0 2px 8px #f0f1f2;
  --box-shadow--highlight: 0 2px 16px #d1d2d3;

  --code-background-color: rgb(40, 44, 52);
  --hr-color: #999;
  --text-color: #333;

  background-color: var(--background-color);
  transition: background-color 0.5s ease;
}

body.dark {
  --content-background-color: #1d232e;
  --background-color: #2e394e;
  --box-shadow: 0 2px 8px #0a0b0c;
  --box-shadow--highlight: 0 2px 16px #0a0b0c;
  --code-background-color: white;
  --text-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
small,
footer {
  font-family: Tahoma, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--text-color);

  transition: color 0.5s ease;
}

p,
.info-box {
  margin: 14px 0;
  font-size: 14px;
  line-height: 28px;
  color: var(--text-color);
  transition: color 0.5s ease;
}

p,
li {
  font-size: 14px;
  line-height: 28px;
}

li {
  margin-bottom: 0;
}

h2 {
  margin-top: 38px;
  margin-bottom: 14px;
}

h3 {
  margin-top: 28px;
  margin-bottom: 10px;
}

:not(.post-container) > h3 {
  margin-top: 36px;
}

.clearfix {
  zoom: 1;
}

.post-container {
  margin-bottom: 32px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);

  transition: all 0.5s ease;
}

.post-container:hover {
  transform: translate3d(0, -5px, 1px);
  box-shadow: var(--box-shadow--highlight);
}

.post-container > h3 {
  margin-top: 0;
}

.post-container p {
  margin-bottom: 0;
}

.tag {
  margin: 0 4px;
  cursor: pointer;
}

.tag:hover {
  opacity: 0.8;
}

.category-title,
.tag-title {
  line-height: 20px;
  margin-right: 8px;
}

hr {
  margin: 4em auto;
  width: 60%;
  height: 1px;
  background-color: var(--hr-color);
}

blockquote {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid var(--hr-color);
}

main > ul {
  margin-right: 1.45rem;
}

article h1 {
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: 700;
}
